.auto-closer-for-canva-wrapper {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 24px;
  /* Because we added padding, we need to skoot back to the top */
  z-index: 999;
  width: fit-content;
}

.auto-closer-for-canva-wrapper .auto-closer-for-canva-main-pop-over {
  padding: 12px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  color: #3a3c3e;
  font-size: 18px;
  font-weight: 400;
  text-shadow: 0 0 2px white, 0 0 4px white, 0 0 6px snow, 0 0 10px snow;
  background: hsla(0, 0%, 100%, 90%);
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.auto-closer-for-canva-wrapper .auto-closer-for-canva-main-pop-over .auto-closer-for-canva-countdown-text {
  margin-bottom: 12px;
  font-family: 'Canva Sans';
}

.auto-closer-for-canva-wrapper .auto-closer-for-canva-main-pop-over .auto-closer-for-canva-stop-link {
  cursor: pointer;
  font-size: 16px;
  padding: 4px;
  font-family: 'Canva Sans';
}

.auto-closer-for-canva-wrapper .auto-closer-for-canva-main-pop-over .auto-closer-for-canva-close-now-btn {
  cursor: pointer;
  font-weight: bold;
  padding: 4px;
  font-size: 16px;
  margin-left: 36px;
  font-family: 'Canva Sans';
}
